

.control {
  /* margin: 1rem 0; */
  margin-bottom: 1rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
  margin-top: 5px;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #4f005f;
  margin-bottom: 1.2rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
/* .control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
} */

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: #d35555;
  background: rgba(228, 55, 55, 0.2);
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}