.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding:5px;
  height: 100%;
  justify-content: center;
  text-align: center;
  /* max-width: 500px; */
}

.container h1 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  font-size: 1.1rem;
  border: 1px solid #4f005f;
  background: #5b016d;
  color: white;
  padding: 0.5rem 2.2rem;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}


.btnActive {
  background: #888;
  color: red;
}

@media (max-width: 768px) {
  
}

@media (max-width: 550px) {
  .container h1 {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }

  .links {
    
  }

  .links a {
    font-size: 1rem;
    padding: 0.5em 0.75rem;
    margin: 10px;
  }
}