.dog {
  width: 200%;
  margin: 5px;
}  

.dog label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #921677;
  margin-bottom: 10px;
}

.dog h3 {
  font-weight: 350;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.icon:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.deletePopUp {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 1rem auto;
  align-items: center;
}

.deletePopUp h3 {
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .icons {
    margin-top: 30px;
  }
  .icons label {
    font-size: 1rem;
  }
  .deletePopUp {
    width: 33vh;
  }
}