.login {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 2rem;
}

h2 {
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 20px;
}

.actions {
  text-align: center;
}

.loginMessage {
  margin-top: 10px;
  color: red;
}

a {
  color: #741188;
  /* font-weight: bold; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}