.login {
  width: 100%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 5px 0;
}

h2 {
  font-weight: 400;
  margin-top: 70px;
}
/* .login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
} */

.actions {
  text-align: center;
  margin-top: 50px;
}

.actions button {
  margin-bottom: 10px;
}

.loginMessage {
  margin-top: 10px;
  color: red;
}

a {
  color: #741188;
  /* font-weight: bold; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}