.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 5px 0;
}

.form h1 {
  color: #4f005f;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.btnDog {
  background-color: #4f005f;
}

.message {
  margin-top: 10px;
  color: red;
}