.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 33vw;
  margin: 1rem auto;
}

.form h1 {
  color: #4f005f;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.actions a {
  margin-top: 5px;
}

.btnDog {
  background-color: #4f005f;
  margin-top: 10px;
}

.message {
  margin-top: 10px;
  color: red;
}

@media (max-width: 768px) {
  .form {
    width: 80%;
  }
}